.main {
    position        : relative;
    background-color: #a6a9b6;
    width           : 400px;
    height          : 400px;
    border          : 10px solid #666360;
}

.orange {
    background-color: #ff912e;
    position        : absolute;
    left            : 0;
    bottom          : 0;
}

.light {
    background-color: #e4e4e4;
    position        : absolute;
    top             : 0;
    right           : 0;
}

.size-200 {
    width : 200px;
    height: 200px;
}