html,
body {
    height: 100%;
}



body {
    display       : flex;
    flex-direction: column;
    box-sizing    : border-box;
    padding       : 0;
    margin        : 0;
    align-items   : stretch;
    border        : 1px solid black;
}


header {
    flex: 0;
}

footer {
    flex: 0;
}

.wrap {
    flex      : 1;
    align-self: stretch;
    display   : flex;

    flex-direction: column;
    flex-wrap     : wrap;

    align-content: stretch;
}




main {
    flex : 1;
    order: 2;
}

.aside-left {
    flex : 1;
    order: 3;
}

.aside-right {
    flex : 1;
    order: 4;
}



/* media query */
@media only screen and (min-width: 768px) {

    .wrap {
        flex-direction: row;
        flex-wrap     : wrap;
    }

    main {
        flex : 1 75%;
        order: 2;
    }

    .aside-left {
        flex : 1 100%;
        order: 4;
    }

    .aside-right {
        flex : 1 25%;
        order: 3;
    }
}

/* const*/
p {
    text-align    : center;
    text-transform: uppercase;
    color         : white;
    font-weight   : 900;
}

.orange {
    background-color: orange;
}

.green {
    background-color: green;
}

.cyan {
    background-color: darkcyan;
}

.pink {
    background-color: rosybrown;
}

.purple {
    background-color: purple;
}