html,
body {
    height: 100%;
}


body {
    display       : flex;
    flex-direction: column;
    box-sizing    : border-box;
    padding       : 0;
    margin        : 0;
    align-items   : stretch;
}


header {
    flex  : 0;
    order : 1;
    height: fit-content;
}

footer {
    flex  : 0;
    order : 5;
    height: fit-content;
}

main {
    flex : 1;
    order: 2;
}

.aside-left {
    flex : 1;
    order: 3;
}

.aside-right {
    flex : 1;
    order: 4;
}



/* media query */
@media only screen and (min-width: 768px) {

    /* Ваш стиль здесь */
    body {
        flex-direction: row;
        flex-wrap     : wrap;
        align-content : space-between;

    }

    header,
    footer {
        flex  : 0 0 100%;
        height: fit-content;
    }

    main {
        flex : 1 75%;
        order: 2;
    }

    .aside-left {
        flex : 1 100%;
        order: 4;
    }

    .aside-right {
        flex : 1 25%;
        order: 3;
    }
}

/* const*/
p {
    text-align    : center;
    text-transform: uppercase;
    color         : white;
    font-weight   : 900;
}

.orange {
    background-color: orange;
}

.green {
    background-color: green;
}

.cyan {
    background-color: darkcyan;
}

.pink {
    background-color: rosybrown;
}

.purple {
    background-color: purple;
}