.box {
    width       : 150px;
    height      : 150px;
    margin-top  : 20px;
    margin-left : auto;
    margin-right: auto;
}

.box:hover {
    cursor: pointer;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.animate-width {
    transition: all 1s linear;
}

.animate-width:hover {
    width: 300px;
}



.animate-height {
    transition: all 1s linear;
}

.animate-height:hover {
    height: 300px;
}